JOB_BASE_NAME=develop

PROJECTNAME_DB=database-waco
PORT_DB=27017
USER_INIT_DB=root
USER_DB=admin
PASSWORD_DB=1234
NAME_DB=waco

PROJECT_NAME_BACK=server-waco
PORT__BACK=3000

PROJECT_NAME_FRONT=client-waco
PORT_FRONT=4200
