<header id="header">
  <div class="center">
    <!-- LOGO -->
    <div id="logo">
      <img src="assets/images/angular.svg" class="app-logo" alt="Logotipo" />
      <span id="brand">
          <strong>Test</strong>Angular
      </span>
    </div>

    <!-- MENU -->
    <nav id="menu">
      <ul>
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/users']" [routerLinkActive]="['active']">User</a>
        </li>
        <li>
          <a [routerLink]="['/pokemons']" [routerLinkActive]="['active']">Pokemon</a>
        </li>
        <li>
          <a [routerLink]="['/login']" [routerLinkActive]="['active']" (click)="logout()">Logout</a>
        </li>
      </ul>
    </nav>

    <div class="clearfix"></div>
  </div>
</header>
