
### DATABASE_HOST_CONVENTIONAL ##
MONO_DB_CONNECTION_STRING=mongodb+srv://jagraz2529:G7So8uKriBqCAlOF@jagraz29.5gsaqzo.mongodb.net/waco?retryWrites=true&w=majority&appName=jagraz29

### DATABASE_HOST_DOCKER ##
# MONO_DB_CONNECTION_STRING=mongodb://root:1234@database:27017/waco?authSource=admin

API_EXT=https://pokeapi.co/api/v2/pokemon

ALGORITHM=RS256
TIME_TOKEN=720s
